<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="EndToEndSuite">
<!--    parallel="false"-->

    <!-- Include Listeners -->
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
        <listener class-name="Listeners.TestListener" />
    </listeners>

    <test name="Test-Login-To-AddEmployee">
        <classes>
            <class name="tests.LoginTest" />
            <class name="tests.AddEmployeeTest" />
            <class name="tests.LogoutTest" />
        </classes>
    </test>

    <test name="Test-ReLogin-ApplyLeave">
        <classes>
            <class name="tests.ReLoginTest" />
            <class name="tests.ApplyLeaveTest" />
            <class name="tests.LogoutTest" />
        </classes>
    </test>

    <test name="Test-ReLogin-To-Approve-Leave">
        <classes>
            <class name="tests.ReLoginToApproveLeaveTest" />
             <class name="tests.LeaveRejectionTest"/>
            <class name="tests.LogoutTest" />
        </classes>
    </test>

    <test name="ReLogin-As-Employee-To-Verify-Leave-Status">
        <classes>
            <class name="tests.ReLoginTest"/>
            <class name="tests.LeaveVerificationTest"/>
            <class name="tests.LogoutTest"/>
        </classes>
    </test>

    <test name="ReLogin-As-Admin-To-Delete-Created-Employee">
        <classes>
            <class name="tests.ReLoginToApproveLeaveTest"/>
            <class name="tests.EmployeeDeletionTest"/>
            <class name="tests.LogoutTest"/>
        </classes>
    </test>

</suite>
